{% extends 'mailing/home.html' %}
{% block content %}
{% load my_tags %}
<div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
    <p class="lead">Все наши статьи</p>
</div>
<div class="container">
    {% if perms.blog.add_blog %}
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'blog:blog_create' %}">Добавить статью</a>
    </div>
    {% endif %}
</div>

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ object.blog_img|mymedia }}" alt="blog_img">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal">{{ object.title }}</h2>
                </div>
                <div class="card-body">
                    <h6 class="card-title pricing-card-title">{{ object.created_at }}</h6>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.text|slice:100 }}</li>
                    </ul>
                    <a href="{% url 'blog:article' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary">Читать</a>
                </div>
                <div class="btn-group">
                    {% if perms.blog.change_blog %}
                    <a href="{% url 'blog:blog_update' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Редактировать</a>
                    {% endif %}
                    {% if perms.blog.delete_blog %}
                    <a href="{% url 'blog:blog_delete' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-danger">Удалить</a>
                    {% endif %}
                </div>
                <div class="card-footer">
                    Просмотры: {{ object.views_count }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}